* {
    box-sizing: border-box;
    padding: 1px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  #heading1{
      text-align: center;
      padding: 20px;
  }
  img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
   
  }
  .myForm{
      max-width:500px;
     margin: auto;
     margin-top: 10px;
    }
    .input-container {
      
      display: flex;
      width: 100%;
      margin-bottom: 15px;
      
    }
    .icon {
      padding: 10px;
      background: darkorange;
      color: white;
      min-width: 50px;
      text-align: center;
    }
    .input-field {
      width: 100%;
      padding: 10px;
      outline: none;
      border: none;
      border-bottom: 3px solid darkcyan;
    }
    .input-field:focus {
      border: 2px solid darkcyan;
    }
  
    .bttn {
      background-color:darkorange;
      color: white;
      padding: 15px 20px;
      border: none;
      cursor: pointer;
      width: 100%;
      opacity: 0.9;
    }
    .bttn:hover {
      opacity: 1;
      background-color: darkcyan;
    }  
    a:hover{
      color: blueviolet;
  }
  .icon:hover{
      background-color: darkcyan;
  }