@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
:root {
    --orange: #3dd164;
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.banner {
    width: 100%;
    height: 100%;
}

.navbar {
    width: 90%;
    padding-top: 50px;
    padding-bottom: 30px;
    padding-left: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 100px;
    cursor: pointer;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 5px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #66CDAA;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover:after {
    width: 100%;
}

.h {
    width: 90%;
    height: 5px;
    border: 0 none;
    margin-right: auto;
    margin-left: auto;
    background-color: #66CDAA;
}

.login-form-container {
    position: fixed;
    top: -120%;
    left: 0;
    z-index: 10000;
    min-height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, .7);
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form-container.active {
    top: 0;
}

.login-form-container form {
    margin: 2rem;
    padding: 1.5rem 2rem;
    border-radius: .5rem;
    background: #fff;
    width: 50rem;
}

.login-form-container form .box {
    width: 100%;
    padding: 1rem;
    font-size: 1.7rem;
    color: #333;
    margin: .6rem 0;
    border: .1rem solid rgba(0, 0, 0, .3);
    text-transform: none;
}

.login-form-container form .box:focus {
    border-color: var(--orange);
    ;
}

.login-form-container form #remember {
    margin: 2rem 0;
}

.login-form-container form label {
    font-size: 1.5rem;
}

.login-form-container form .btn {
    display: block;
    width: 100%;
}

.login-form-container form p {
    padding: .5rem 0;
    font-size: 1.5rem;
    color: #666;
}

.login-form-container form p a {
    color: var(--orange);
}

.login-form-container form p a:hover {
    color: #333;
    text-decoration: underline;
}

.login-form-container #form-close {
    position: absolute;
    top: 2rem;
    right: 3rem;
    font-size: 5rem;
    color: #fff;
    cursor: pointer;
}

#menu-bar {
    color: #fff;
    border: .1rem solid #fff;
    border-radius: .5rem;
    font-size: 3rem;
    padding: .5rem 1.2rem;
    cursor: pointer;
    display: none;
}

.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    position: relative;
    z-index: 0;
}

.home .content {
    text-align: center;
}

.home .content h3 {
    font-size: 4.5rem;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 0 .3rem .5rem rgba(0, 0, 0, .1);
}

.home .content p {
    font-size: 2.5rem;
    color: #fff;
    padding: .5rem 0;
}

.home .video-container video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.recommended-module {
    padding: 0px;
    margin: 0px 0px 64px;
    text-align: center;
  }
  .recommended-module:last-child {
    margin-bottom: 32px;
  }
  .recommended-module-title {
    font-size: 28px;
    color: rgb(15, 41, 77);
    letter-spacing: 0px;
    text-align: center;
    line-height: 34px;
    font-weight: 700;
  }
  .js-tab-ajax-switch {
    width: 100%;
    overflow: visible;
  }
  .js-tab-ajax-switch .tab-con {
    position: relative;
    text-align: center;
    margin: 24px 0px;
    padding: 0px;
    width: 100%;
  }
  .js-tab-ajax-switch .tab-con .js-tile-tab {
    width: 100%;
    position: relative;
    overflow-x: hidden;
  }
  .js-tab-ajax-switch .tab-con .js-tile-tab .js-tab-wrapper {
    overflow-x: visible;
    will-change: transform;
    white-space: nowrap;
    transition: transform 0.2s linear 0s;
  }
  .js-tab-ajax-switch .tab-con .js-tile-tab .js-tab-wrapper .js-tab-item {
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 18px;
    padding: 8px 16px;
    margin-right: 16px;
    border: 1px solid rgb(218, 223, 230);
    border-radius: 2px;
    color: rgb(15, 41, 77);
  }
  .js-tab-ajax-switch
    .tab-con
    .js-tile-tab
    .js-tab-wrapper
    .js-tab-item.is-active {
    font-weight: 700;
    border-color: rgba(50, 100, 255, 0.08);
    color: rgb(50, 100, 255);
    background-color: rgba(50, 100, 255, 0.08);
  }
  .js-tab-ajax-switch .tab-con .js-tile-tab .js-tab-wrapper .js-tab-item:hover {
    color: rgb(50, 100, 255);
  }
  .js-tab-ajax-switch .content-con {
    position: relative;
    text-align: center;
  }
  .u-clearfix::after,
  .u-clearfix::before {
    content: "";
    display: table;
  }
  .u-clearfix::after {
    clear: both;
  }
  .recommended-module .l-tile_col-3-fixed {
    margin: 0px;
  }
  .l-tile,
  .l-tile_col-2,
  .l-tile_col-3,
  .l-tile_col-3-fixed,
  .l-tile_col-3-fixed-strip,
  .l-tile_col-4,
  .l-tile_col-4-fixed,
  .l-tile_col-4-fixed-strip,
  .l-tile_col-5,
  .l-tile_col-6,
  .l-tile_half-spacing,
  .l-tile_half-spacing_col-2,
  .l-tile_half-spacing_col-3 {
    margin: 0px -10px;
    padding: 0px;
    text-align: center;
  }
  .c-hot-attraction-card-item-v2__wrapper {
    vertical-align: top;
    text-align: left;
  }
  .l-tile__item {
    display: inline-block;
    padding: 0px 8px 20px;
    box-sizing: border-box;
  }
  .l-tile_col-3-fixed .l-tile__item {
    width: 278px;
    box-sizing: content-box;
  }
  .l-tile_col-3-fixed .l-tile__item:first-child {
    padding-left: 0px;
  }
  .c-hot-attraction-card-item-v2:hover {
    cursor: pointer;
  }
  .c-hot-attraction-card-item-v2__image-con {
    position: relative;
  }
  .c-hot-attraction-card-item-v2__image-clipping {
    border-radius: 2px;
    overflow: hidden;
    background: rgb(218, 223, 230);
  }
  .c-hot-attraction-card-item-v2__image {
    width: 100%;
    height: 0px;
    padding-top: 197px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }
  .c-hot-attraction-card-item-v2__image:hover {
    transform: scale(1.1);
  }
  .c-hot-attraction-card-item-v2__overlay-label {
    box-sizing: border-box;
    width: 100%;
    margin-top: 16px;
    font-size: 12px;
  }
  .c-hot-attraction-card-item-v2__name {
    text-overflow: ellipsis;
    overflow: hidden;
    margin-right: 3px;
    color: rgb(15, 41, 77);
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
  }
  .c-hot-attraction-card-item-v2__review {
    vertical-align: middle;
    color: rgb(153, 153, 153);
    margin: 8px 0px;
    font-size: 12px;
  }
  .c-hot-attraction-card-item-v2__score {
    display: inline-block;
    background: rgb(73, 106, 206);
    border-radius: 1px;
    padding: 0px 5px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
    line-height: 1.3;
    margin-right: 5px;
  }
  .c-hot-attraction-card-item-v2__score span:first-child {
    font-size: 16px;
    color: rgb(255, 255, 255);
  }
  .l-tile_col-3-fixed .l-tile__item:last-child {
    padding-right: 0px;
  }
  .recommended-module-more {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: rgb(133, 146, 166);
    line-height: 18px;
  }
  .recommended-module-more-link {
    font-weight: 700;
    color: rgb(50, 100, 255);
    cursor: pointer;
  }
  a {
    color: rgb(51, 51, 51);
    text-decoration: none;
  }
  .recommended-module-more-link a {
    color: rgb(50, 100, 255);
    text-decoration: none;
    cursor: pointer;
  }
  .recommended-module-more-link a:hover {
    text-decoration: underline;
  }
  .fi {
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    font-family: fi !important;
  }
  .fi-arrow-right::before {
    content: "";
  }
  .recommended-module-more .fi {
    position: relative;
    top: 1px;
  }
  .recommended-module-more .fi-arrow-right {
    margin-left: 2px;
  }
  .recommended-module {
    padding: 0px;
    margin: 0px 0px 64px;
    text-align: center;
  }
  .recommended-module:last-child {
    margin-bottom: 32px;
  }
  .recommended-module-title {
    font-size: 28px;
    color: rgb(15, 41, 77);
    letter-spacing: 0px;
    text-align: center;
    line-height: 34px;
    font-weight: 700;
  }
  .js-tab-ajax-switch {
    width: 100%;
    overflow: visible;
  }
  .js-tab-ajax-switch .tab-con {
    position: relative;
    text-align: center;
    margin: 24px 0px;
    padding: 0px;
    width: 100%;
  }
  .js-tab-ajax-switch .tab-con .js-tile-tab {
    width: 100%;
    position: relative;
    overflow-x: hidden;
  }
  .js-tab-ajax-switch .tab-con .js-tile-tab .js-tab-wrapper {
    overflow-x: visible;
    will-change: transform;
    white-space: nowrap;
    transition: transform 0.2s linear 0s;
  }
  .js-tab-ajax-switch .tab-con .js-tile-tab .js-tab-wrapper .js-tab-item {
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 18px;
    padding: 8px 16px;
    margin-right: 16px;
    border: 1px solid rgb(218, 223, 230);
    border-radius: 2px;
    color: rgb(15, 41, 77);
  }
  .js-tab-ajax-switch
    .tab-con
    .js-tile-tab
    .js-tab-wrapper
    .js-tab-item.is-active {
    font-weight: 700;
    border-color: rgba(50, 100, 255, 0.08);
    color: rgb(50, 100, 255);
    background-color: rgba(50, 100, 255, 0.08);
  }
  .js-tab-ajax-switch .tab-con .js-tile-tab .js-tab-wrapper .js-tab-item:hover {
    color: rgb(50, 100, 255);
  }
  .js-tab-ajax-switch .content-con {
    position: relative;
    text-align: center;
  }
  .u-clearfix::after,
  .u-clearfix::before {
    content: "";
    display: table;
  }
  .u-clearfix::after {
    clear: both;
  }
  .recommended-module .l-tile_col-3-fixed {
    margin: 0px;
  }
  .l-tile,
  .l-tile_col-2,
  .l-tile_col-3,
  .l-tile_col-3-fixed,
  .l-tile_col-3-fixed-strip,
  .l-tile_col-4,
  .l-tile_col-4-fixed,
  .l-tile_col-4-fixed-strip,
  .l-tile_col-5,
  .l-tile_col-6,
  .l-tile_half-spacing,
  .l-tile_half-spacing_col-2,
  .l-tile_half-spacing_col-3 {
    margin: 0px -10px;
    padding: 0px;
    text-align: center;
  }
  .c-hot-attraction-card-item-v2__wrapper {
    vertical-align: top;
    text-align: left;
  }
  .l-tile__item {
    display: inline-block;
    padding: 0px 8px 20px;
    box-sizing: border-box;
  }
  .l-tile_col-3-fixed .l-tile__item {
    width: 278px;
    box-sizing: content-box;
  }
  .l-tile_col-3-fixed .l-tile__item:first-child {
    padding-left: 0px;
  }
  .c-hot-attraction-card-item-v2:hover {
    cursor: pointer;
  }
  .c-hot-attraction-card-item-v2__image-con {
    position: relative;
  }
  .c-hot-attraction-card-item-v2__image-clipping {
    border-radius: 2px;
    overflow: hidden;
    background: rgb(218, 223, 230);
  }
  .c-hot-attraction-card-item-v2__image {
    width: 100%;
    height: 0px;
    padding-top: 197px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }
  .c-hot-attraction-card-item-v2__image:hover {
    transform: scale(1.1);
  }
  .c-hot-attraction-card-item-v2__overlay-label {
    box-sizing: border-box;
    width: 100%;
    margin-top: 16px;
    font-size: 12px;
  }
  .c-hot-attraction-card-item-v2__name {
    text-overflow: ellipsis;
    overflow: hidden;
    margin-right: 3px;
    color: rgb(15, 41, 77);
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
  }
  .c-hot-attraction-card-item-v2__review {
    vertical-align: middle;
    color: rgb(153, 153, 153);
    margin: 8px 0px;
    font-size: 12px;
  }
  .c-hot-attraction-card-item-v2__score {
    display: inline-block;
    background: rgb(73, 106, 206);
    border-radius: 1px;
    padding: 0px 5px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
    line-height: 1.3;
    margin-right: 5px;
  }
  .c-hot-attraction-card-item-v2__score span:first-child {
    font-size: 16px;
    color: rgb(255, 255, 255);
  }
  .l-tile_col-3-fixed .l-tile__item:last-child {
    padding-right: 0px;
  }
  .recommended-module-more {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: rgb(133, 146, 166);
    line-height: 18px;
  }
  .recommended-module-more-link {
    font-weight: 700;
    color: rgb(50, 100, 255);
    cursor: pointer;
  }
  a {
    color: rgb(51, 51, 51);
    text-decoration: none;
  }
  .recommended-module-more-link a {
    color: rgb(50, 100, 255);
    text-decoration: none;
    cursor: pointer;
  }
  .recommended-module-more-link a:hover {
    text-decoration: underline;
  }
  .fi {
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    font-family: fi !important;
  }
  .fi-arrow-right::before {
    content: "";
  }
  .recommended-module-more .fi {
    position: relative;
    top: 1px;
  }
  .recommended-module-more .fi-arrow-right {
    margin-left: 2px;
  }
  * {
    margin: 0px;
    padding: 0px;
  }
  @media screen and (max-width: 1160px) {
    .js-tab-ajax-switch .tab-con {
      padding: 0px 71px;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 1160px) {
    .js-tab-ajax-switch .tab-con {
      padding: 0px 71px;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 1160px) {
    .js-tab-ajax-switch .tab-con {
      padding: 0px 71px;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 1160px) {
    .js-tab-ajax-switch .tab-con .js-tile-tab {
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 1160px) {
    .js-tab-ajax-switch .tab-con .js-tile-tab {
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 1160px) {
    .js-tab-ajax-switch .tab-con .js-tile-tab {
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed
      .c-hot-attraction-card-item-v2__wrapper.l-tile__item:nth-child(3n + 1) {
      padding-left: 0px;
    }
  }
  @media screen and (max-width: 834px) {
    .l-tile_col-3-fixed .c-hot-attraction-card-item-v2__wrapper.l-tile__item {
      width: 49.9%;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 834px) {
    .l-tile_col-3-fixed
      .c-hot-attraction-card-item-v2__wrapper.l-tile__item:nth-child(3n + 1) {
      padding-left: 8px;
    }
  }
  @media screen and (max-width: 834px) {
    .l-tile_col-3-fixed
      .c-hot-attraction-card-item-v2__wrapper.l-tile__item:nth-child(2n + 1) {
      padding-left: 0px;
    }
  }
  @media screen and (max-width: 560px) {
    .l-tile_col-3-fixed .c-hot-attraction-card-item-v2__wrapper.l-tile__item {
      width: 278px;
      padding-left: 0px;
      padding-right: 0px;
    }
  }
  @media screen and (max-width: 560px) {
    .l-tile_col-3-fixed
      .c-hot-attraction-card-item-v2__wrapper.l-tile__item:nth-child(3n + 1) {
      padding-left: 0px;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item {
      padding: 0px 8px 18px;
      box-sizing: content-box;
      width: calc(33.3% - 11px);
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item:first-child {
      padding-left: 0px;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item:nth-child(3n + 1) {
      clear: none;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item:nth-child(2n + 1) {
      clear: left;
    }
  }
  @media screen and (max-width: 834px) {
    .l-tile_col-3-fixed .l-tile__item {
      width: 278px;
      box-sizing: content-box;
    }
  }
  @media screen and (max-width: 834px) {
    .l-tile_col-3-fixed .l-tile__item:first-child {
      padding-left: 8px;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item {
      padding: 0px 8px 18px;
      box-sizing: content-box;
      width: calc(33.3% - 11px);
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item:first-child {
      padding-left: 0px;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item:nth-child(3n + 1) {
      clear: none;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item:nth-child(2n + 1) {
      clear: left;
    }
  }
  @media screen and (max-width: 834px) {
    .l-tile_col-3-fixed .l-tile__item {
      width: 278px;
      box-sizing: content-box;
    }
  }
  @media screen and (max-width: 834px) {
    .l-tile_col-3-fixed .l-tile__item:first-child {
      padding-left: 8px;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item {
      padding: 0px 8px 18px;
      box-sizing: content-box;
      width: calc(33.3% - 11px);
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item:first-child {
      padding-left: 0px;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item:nth-child(3n + 1) {
      clear: none;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item:nth-child(2n + 1) {
      clear: left;
    }
  }
  @media screen and (max-width: 834px) {
    .l-tile_col-3-fixed .l-tile__item {
      width: 278px;
      box-sizing: content-box;
    }
  }
  @media screen and (max-width: 834px) {
    .l-tile_col-3-fixed .l-tile__item:first-child {
      padding-left: 8px;
    }
  }
  @media screen and (min-width: 1161px) {
    .c-hot-attraction-card-item-v2__image {
      width: 100%;
      height: 0px;
      padding-top: 197px;
    }
  }
  @media screen and (max-width: 1160px) {
    .c-hot-attraction-card-item-v2__image {
      padding-top: 70.86%;
    }
  }
  @media screen and (max-width: 834px) {
    .l-tile_col-3-fixed .c-hot-attraction-card-item-v2__wrapper.l-tile__item {
      width: 49.9%;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 834px) {
    .l-tile_col-3-fixed
      .c-hot-attraction-card-item-v2__wrapper.l-tile__item:nth-child(2n) {
      padding-right: 0px;
    }
  }
  @media screen and (max-width: 560px) {
    .l-tile_col-3-fixed .c-hot-attraction-card-item-v2__wrapper.l-tile__item {
      width: 278px;
      padding-left: 0px;
      padding-right: 0px;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item {
      padding: 0px 8px 18px;
      box-sizing: content-box;
      width: calc(33.3% - 11px);
    }
  }
  @media screen and (max-width: 834px) {
    .l-tile_col-3-fixed .l-tile__item {
      width: 278px;
      box-sizing: content-box;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item {
      padding: 0px 8px 18px;
      box-sizing: content-box;
      width: calc(33.3% - 11px);
    }
  }
  @media screen and (max-width: 834px) {
    .l-tile_col-3-fixed .l-tile__item {
      width: 278px;
      box-sizing: content-box;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item {
      padding: 0px 8px 18px;
      box-sizing: content-box;
      width: calc(33.3% - 11px);
    }
  }
  @media screen and (max-width: 834px) {
    .l-tile_col-3-fixed .l-tile__item {
      width: 278px;
      box-sizing: content-box;
    }
  }
  @media screen and (min-width: 1161px) {
    .c-hot-attraction-card-item-v2__image {
      width: 100%;
      height: 0px;
      padding-top: 197px;
    }
  }
  @media screen and (max-width: 1160px) {
    .c-hot-attraction-card-item-v2__image {
      padding-top: 70.86%;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed
      .c-hot-attraction-card-item-v2__wrapper.l-tile__item:nth-child(3n) {
      padding-right: 0px;
    }
  }
  @media screen and (max-width: 834px) {
    .l-tile_col-3-fixed .c-hot-attraction-card-item-v2__wrapper.l-tile__item {
      width: 49.9%;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 834px) {
    .l-tile_col-3-fixed
      .c-hot-attraction-card-item-v2__wrapper.l-tile__item:nth-child(3n) {
      padding-right: 8px;
    }
  }
  @media screen and (max-width: 834px) {
    .l-tile_col-3-fixed
      .c-hot-attraction-card-item-v2__wrapper.l-tile__item:nth-child(2n + 1) {
      padding-left: 0px;
    }
  }
  @media screen and (max-width: 560px) {
    .l-tile_col-3-fixed .c-hot-attraction-card-item-v2__wrapper.l-tile__item {
      width: 278px;
      padding-left: 0px;
      padding-right: 0px;
    }
  }
  @media screen and (max-width: 560px) {
    .l-tile_col-3-fixed
      .c-hot-attraction-card-item-v2__wrapper.l-tile__item:nth-child(3n) {
      padding-right: 0px;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item {
      padding: 0px 8px 18px;
      box-sizing: content-box;
      width: calc(33.3% - 11px);
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item:nth-child(2n + 1) {
      clear: left;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item:nth-child(3) {
      padding-right: 0px;
    }
  }
  @media screen and (max-width: 834px) {
    .l-tile_col-3-fixed .l-tile__item {
      width: 278px;
      box-sizing: content-box;
    }
  }
  @media screen and (max-width: 834px) {
    .l-tile_col-3-fixed .l-tile__item:nth-child(3) {
      padding-right: 8px;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item {
      padding: 0px 8px 18px;
      box-sizing: content-box;
      width: calc(33.3% - 11px);
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item:nth-child(2n + 1) {
      clear: left;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item:nth-child(3) {
      padding-right: 0px;
    }
  }
  @media screen and (max-width: 834px) {
    .l-tile_col-3-fixed .l-tile__item {
      width: 278px;
      box-sizing: content-box;
    }
  }
  @media screen and (max-width: 834px) {
    .l-tile_col-3-fixed .l-tile__item:nth-child(3) {
      padding-right: 8px;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item {
      padding: 0px 8px 18px;
      box-sizing: content-box;
      width: calc(33.3% - 11px);
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item:nth-child(2n + 1) {
      clear: left;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item:nth-child(3) {
      padding-right: 0px;
    }
  }
  @media screen and (max-width: 834px) {
    .l-tile_col-3-fixed .l-tile__item {
      width: 278px;
      box-sizing: content-box;
    }
  }
  @media screen and (max-width: 834px) {
    .l-tile_col-3-fixed .l-tile__item:nth-child(3) {
      padding-right: 8px;
    }
  }
  @media screen and (min-width: 1161px) {
    .c-hot-attraction-card-item-v2__image {
      width: 100%;
      height: 0px;
      padding-top: 197px;
    }
  }
  @media screen and (max-width: 1160px) {
    .c-hot-attraction-card-item-v2__image {
      padding-top: 70.86%;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed
      .c-hot-attraction-card-item-v2__wrapper.l-tile__item:nth-child(3n + 1) {
      padding-left: 0px;
    }
  }
  @media screen and (max-width: 834px) {
    .l-tile_col-3-fixed .c-hot-attraction-card-item-v2__wrapper.l-tile__item {
      width: 49.9%;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 834px) {
    .l-tile_col-3-fixed
      .c-hot-attraction-card-item-v2__wrapper.l-tile__item:nth-child(3n + 1) {
      padding-left: 8px;
    }
  }
  @media screen and (max-width: 834px) {
    .l-tile_col-3-fixed
      .c-hot-attraction-card-item-v2__wrapper.l-tile__item:nth-child(2n) {
      padding-right: 0px;
    }
  }
  @media screen and (max-width: 560px) {
    .l-tile_col-3-fixed .c-hot-attraction-card-item-v2__wrapper.l-tile__item {
      width: 278px;
      padding-left: 0px;
      padding-right: 0px;
    }
  }
  @media screen and (max-width: 560px) {
    .l-tile_col-3-fixed
      .c-hot-attraction-card-item-v2__wrapper.l-tile__item:nth-child(3n + 1) {
      padding-left: 0px;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item {
      padding: 0px 8px 18px;
      box-sizing: content-box;
      width: calc(33.3% - 11px);
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item:last-child {
      padding-right: 8px;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item:nth-child(n + 4) {
      display: none;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item:nth-child(3n + 1) {
      clear: none;
    }
  }
  @media screen and (max-width: 834px) {
    .l-tile_col-3-fixed .l-tile__item {
      width: 278px;
      box-sizing: content-box;
    }
  }
  @media screen and (max-width: 834px) {
    .l-tile_col-3-fixed .l-tile__item:nth-child(n + 4) {
      display: inline-block;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item {
      padding: 0px 8px 18px;
      box-sizing: content-box;
      width: calc(33.3% - 11px);
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item:last-child {
      padding-right: 8px;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item:nth-child(n + 4) {
      display: none;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item:nth-child(3n + 1) {
      clear: none;
    }
  }
  @media screen and (max-width: 834px) {
    .l-tile_col-3-fixed .l-tile__item {
      width: 278px;
      box-sizing: content-box;
    }
  }
  @media screen and (max-width: 834px) {
    .l-tile_col-3-fixed .l-tile__item:nth-child(n + 4) {
      display: inline-block;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item {
      padding: 0px 8px 18px;
      box-sizing: content-box;
      width: calc(33.3% - 11px);
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item:last-child {
      padding-right: 8px;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item:nth-child(n + 4) {
      display: none;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item:nth-child(3n + 1) {
      clear: none;
    }
  }
  @media screen and (max-width: 834px) {
    .l-tile_col-3-fixed .l-tile__item {
      width: 278px;
      box-sizing: content-box;
    }
  }
  @media screen and (max-width: 834px) {
    .l-tile_col-3-fixed .l-tile__item:nth-child(n + 4) {
      display: inline-block;
    }
  }
  @media screen and (min-width: 1161px) {
    .c-hot-attraction-card-item-v2__image {
      width: 100%;
      height: 0px;
      padding-top: 197px;
    }
  }
  @media screen and (max-width: 1160px) {
    .c-hot-attraction-card-item-v2__image {
      padding-top: 70.86%;
    }
  }
  @media all {
    .fi {
      font-size: 16px;
      font-style: normal;
      -webkit-font-smoothing: antialiased;
      font-family: fi !important;
    }
  }
  @media screen and (max-width: 1160px) {
    .js-tab-ajax-switch .tab-con {
      padding: 0px 71px;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 1160px) {
    .js-tab-ajax-switch .tab-con {
      padding: 0px 71px;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 1160px) {
    .js-tab-ajax-switch .tab-con {
      padding: 0px 71px;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 1160px) {
    .js-tab-ajax-switch .tab-con .js-tile-tab {
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 1160px) {
    .js-tab-ajax-switch .tab-con .js-tile-tab {
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 1160px) {
    .js-tab-ajax-switch .tab-con .js-tile-tab {
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed
      .c-hot-attraction-card-item-v2__wrapper.l-tile__item:nth-child(3n + 1) {
      padding-left: 0px;
    }
  }
  @media screen and (max-width: 834px) {
    .l-tile_col-3-fixed .c-hot-attraction-card-item-v2__wrapper.l-tile__item {
      width: 49.9%;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 834px) {
    .l-tile_col-3-fixed
      .c-hot-attraction-card-item-v2__wrapper.l-tile__item:nth-child(3n + 1) {
      padding-left: 8px;
    }
  }
  @media screen and (max-width: 834px) {
    .l-tile_col-3-fixed
      .c-hot-attraction-card-item-v2__wrapper.l-tile__item:nth-child(2n + 1) {
      padding-left: 0px;
    }
  }
  @media screen and (max-width: 560px) {
    .l-tile_col-3-fixed .c-hot-attraction-card-item-v2__wrapper.l-tile__item {
      width: 278px;
      padding-left: 0px;
      padding-right: 0px;
    }
  }
  @media screen and (max-width: 560px) {
    .l-tile_col-3-fixed
      .c-hot-attraction-card-item-v2__wrapper.l-tile__item:nth-child(3n + 1) {
      padding-left: 0px;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item {
      padding: 0px 8px 18px;
      box-sizing: content-box;
      width: calc(33.3% - 11px);
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item:first-child {
      padding-left: 0px;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item:nth-child(3n + 1) {
      clear: none;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item:nth-child(2n + 1) {
      clear: left;
    }
  }
  @media screen and (max-width: 834px) {
    .l-tile_col-3-fixed .l-tile__item {
      width: 278px;
      box-sizing: content-box;
    }
  }
  @media screen and (max-width: 834px) {
    .l-tile_col-3-fixed .l-tile__item:first-child {
      padding-left: 8px;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item {
      padding: 0px 8px 18px;
      box-sizing: content-box;
      width: calc(33.3% - 11px);
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item:first-child {
      padding-left: 0px;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item:nth-child(3n + 1) {
      clear: none;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item:nth-child(2n + 1) {
      clear: left;
    }
  }
  @media screen and (max-width: 834px) {
    .l-tile_col-3-fixed .l-tile__item {
      width: 278px;
      box-sizing: content-box;
    }
  }
  @media screen and (max-width: 834px) {
    .l-tile_col-3-fixed .l-tile__item:first-child {
      padding-left: 8px;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item {
      padding: 0px 8px 18px;
      box-sizing: content-box;
      width: calc(33.3% - 11px);
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item:first-child {
      padding-left: 0px;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item:nth-child(3n + 1) {
      clear: none;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item:nth-child(2n + 1) {
      clear: left;
    }
  }
  @media screen and (max-width: 834px) {
    .l-tile_col-3-fixed .l-tile__item {
      width: 278px;
      box-sizing: content-box;
    }
  }
  @media screen and (max-width: 834px) {
    .l-tile_col-3-fixed .l-tile__item:first-child {
      padding-left: 8px;
    }
  }
  @media screen and (min-width: 1161px) {
    .c-hot-attraction-card-item-v2__image {
      width: 100%;
      height: 0px;
      padding-top: 197px;
    }
  }
  @media screen and (max-width: 1160px) {
    .c-hot-attraction-card-item-v2__image {
      padding-top: 70.86%;
    }
  }
  @media screen and (max-width: 834px) {
    .l-tile_col-3-fixed .c-hot-attraction-card-item-v2__wrapper.l-tile__item {
      width: 49.9%;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 834px) {
    .l-tile_col-3-fixed
      .c-hot-attraction-card-item-v2__wrapper.l-tile__item:nth-child(2n) {
      padding-right: 0px;
    }
  }
  @media screen and (max-width: 560px) {
    .l-tile_col-3-fixed .c-hot-attraction-card-item-v2__wrapper.l-tile__item {
      width: 278px;
      padding-left: 0px;
      padding-right: 0px;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item {
      padding: 0px 8px 18px;
      box-sizing: content-box;
      width: calc(33.3% - 11px);
    }
  }
  @media screen and (max-width: 834px) {
    .l-tile_col-3-fixed .l-tile__item {
      width: 278px;
      box-sizing: content-box;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item {
      padding: 0px 8px 18px;
      box-sizing: content-box;
      width: calc(33.3% - 11px);
    }
  }
  @media screen and (max-width: 834px) {
    .l-tile_col-3-fixed .l-tile__item {
      width: 278px;
      box-sizing: content-box;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item {
      padding: 0px 8px 18px;
      box-sizing: content-box;
      width: calc(33.3% - 11px);
    }
  }
  @media screen and (max-width: 834px) {
    .l-tile_col-3-fixed .l-tile__item {
      width: 278px;
      box-sizing: content-box;
    }
  }
  @media screen and (min-width: 1161px) {
    .c-hot-attraction-card-item-v2__image {
      width: 100%;
      height: 0px;
      padding-top: 197px;
    }
  }
  @media screen and (max-width: 1160px) {
    .c-hot-attraction-card-item-v2__image {
      padding-top: 70.86%;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed
      .c-hot-attraction-card-item-v2__wrapper.l-tile__item:nth-child(3n) {
      padding-right: 0px;
    }
  }
  @media screen and (max-width: 834px) {
    .l-tile_col-3-fixed .c-hot-attraction-card-item-v2__wrapper.l-tile__item {
      width: 49.9%;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 834px) {
    .l-tile_col-3-fixed
      .c-hot-attraction-card-item-v2__wrapper.l-tile__item:nth-child(3n) {
      padding-right: 8px;
    }
  }
  @media screen and (max-width: 834px) {
    .l-tile_col-3-fixed
      .c-hot-attraction-card-item-v2__wrapper.l-tile__item:nth-child(2n + 1) {
      padding-left: 0px;
    }
  }
  @media screen and (max-width: 560px) {
    .l-tile_col-3-fixed .c-hot-attraction-card-item-v2__wrapper.l-tile__item {
      width: 278px;
      padding-left: 0px;
      padding-right: 0px;
    }
  }
  @media screen and (max-width: 560px) {
    .l-tile_col-3-fixed
      .c-hot-attraction-card-item-v2__wrapper.l-tile__item:nth-child(3n) {
      padding-right: 0px;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item {
      padding: 0px 8px 18px;
      box-sizing: content-box;
      width: calc(33.3% - 11px);
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item:nth-child(2n + 1) {
      clear: left;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item:nth-child(3) {
      padding-right: 0px;
    }
  }
  @media screen and (max-width: 834px) {
    .l-tile_col-3-fixed .l-tile__item {
      width: 278px;
      box-sizing: content-box;
    }
  }
  @media screen and (max-width: 834px) {
    .l-tile_col-3-fixed .l-tile__item:nth-child(3) {
      padding-right: 8px;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item {
      padding: 0px 8px 18px;
      box-sizing: content-box;
      width: calc(33.3% - 11px);
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item:nth-child(2n + 1) {
      clear: left;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item:nth-child(3) {
      padding-right: 0px;
    }
  }
  @media screen and (max-width: 834px) {
    .l-tile_col-3-fixed .l-tile__item {
      width: 278px;
      box-sizing: content-box;
    }
  }
  @media screen and (max-width: 834px) {
    .l-tile_col-3-fixed .l-tile__item:nth-child(3) {
      padding-right: 8px;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item {
      padding: 0px 8px 18px;
      box-sizing: content-box;
      width: calc(33.3% - 11px);
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item:nth-child(2n + 1) {
      clear: left;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item:nth-child(3) {
      padding-right: 0px;
    }
  }
  @media screen and (max-width: 834px) {
    .l-tile_col-3-fixed .l-tile__item {
      width: 278px;
      box-sizing: content-box;
    }
  }
  @media screen and (max-width: 834px) {
    .l-tile_col-3-fixed .l-tile__item:nth-child(3) {
      padding-right: 8px;
    }
  }
  @media screen and (min-width: 1161px) {
    .c-hot-attraction-card-item-v2__image {
      width: 100%;
      height: 0px;
      padding-top: 197px;
    }
  }
  @media screen and (max-width: 1160px) {
    .c-hot-attraction-card-item-v2__image {
      padding-top: 70.86%;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed
      .c-hot-attraction-card-item-v2__wrapper.l-tile__item:nth-child(3n + 1) {
      padding-left: 0px;
    }
  }
  @media screen and (max-width: 834px) {
    .l-tile_col-3-fixed .c-hot-attraction-card-item-v2__wrapper.l-tile__item {
      width: 49.9%;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 834px) {
    .l-tile_col-3-fixed
      .c-hot-attraction-card-item-v2__wrapper.l-tile__item:nth-child(3n + 1) {
      padding-left: 8px;
    }
  }
  @media screen and (max-width: 834px) {
    .l-tile_col-3-fixed
      .c-hot-attraction-card-item-v2__wrapper.l-tile__item:nth-child(2n) {
      padding-right: 0px;
    }
  }
  @media screen and (max-width: 560px) {
    .l-tile_col-3-fixed .c-hot-attraction-card-item-v2__wrapper.l-tile__item {
      width: 278px;
      padding-left: 0px;
      padding-right: 0px;
    }
  }
  @media screen and (max-width: 560px) {
    .l-tile_col-3-fixed
      .c-hot-attraction-card-item-v2__wrapper.l-tile__item:nth-child(3n + 1) {
      padding-left: 0px;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item {
      padding: 0px 8px 18px;
      box-sizing: content-box;
      width: calc(33.3% - 11px);
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item:last-child {
      padding-right: 8px;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item:nth-child(n + 4) {
      display: none;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item:nth-child(3n + 1) {
      clear: none;
    }
  }
  @media screen and (max-width: 834px) {
    .l-tile_col-3-fixed .l-tile__item {
      width: 278px;
      box-sizing: content-box;
    }
  }
  @media screen and (max-width: 834px) {
    .l-tile_col-3-fixed .l-tile__item:nth-child(n + 4) {
      display: inline-block;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item {
      padding: 0px 8px 18px;
      box-sizing: content-box;
      width: calc(33.3% - 11px);
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item:last-child {
      padding-right: 8px;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item:nth-child(n + 4) {
      display: none;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item:nth-child(3n + 1) {
      clear: none;
    }
  }
  @media screen and (max-width: 834px) {
    .l-tile_col-3-fixed .l-tile__item {
      width: 278px;
      box-sizing: content-box;
    }
  }
  @media screen and (max-width: 834px) {
    .l-tile_col-3-fixed .l-tile__item:nth-child(n + 4) {
      display: inline-block;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item {
      padding: 0px 8px 18px;
      box-sizing: content-box;
      width: calc(33.3% - 11px);
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item:last-child {
      padding-right: 8px;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item:nth-child(n + 4) {
      display: none;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item:nth-child(3n + 1) {
      clear: none;
    }
  }
  @media screen and (max-width: 834px) {
    .l-tile_col-3-fixed .l-tile__item {
      width: 278px;
      box-sizing: content-box;
    }
  }
  @media screen and (max-width: 834px) {
    .l-tile_col-3-fixed .l-tile__item:nth-child(n + 4) {
      display: inline-block;
    }
  }
  @media screen and (min-width: 1161px) {
    .c-hot-attraction-card-item-v2__image {
      width: 100%;
      height: 0px;
      padding-top: 197px;
    }
  }
  @media screen and (max-width: 1160px) {
    .c-hot-attraction-card-item-v2__image {
      padding-top: 70.86%;
    }
  }
  @media all {
    .fi {
      font-size: 16px;
      font-style: normal;
      -webkit-font-smoothing: antialiased;
      font-family: fi !important;
    }
  }
  @media screen and (max-width: 1160px) {
    .js-tab-ajax-switch .tab-con {
      padding: 0px 71px;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 1160px) {
    .js-tab-ajax-switch .tab-con {
      padding: 0px 71px;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 1160px) {
    .js-tab-ajax-switch .tab-con {
      padding: 0px 71px;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 1160px) {
    .js-tab-ajax-switch .tab-con .js-tile-tab {
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 1160px) {
    .js-tab-ajax-switch .tab-con .js-tile-tab {
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 1160px) {
    .js-tab-ajax-switch .tab-con .js-tile-tab {
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed
      .c-hot-attraction-card-item-v2__wrapper.l-tile__item:nth-child(3n + 1) {
      padding-left: 0px;
    }
  }
  @media screen and (max-width: 834px) {
    .l-tile_col-3-fixed .c-hot-attraction-card-item-v2__wrapper.l-tile__item {
      width: 49.9%;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 834px) {
    .l-tile_col-3-fixed
      .c-hot-attraction-card-item-v2__wrapper.l-tile__item:nth-child(3n + 1) {
      padding-left: 8px;
    }
  }
  @media screen and (max-width: 834px) {
    .l-tile_col-3-fixed
      .c-hot-attraction-card-item-v2__wrapper.l-tile__item:nth-child(2n + 1) {
      padding-left: 0px;
    }
  }
  @media screen and (max-width: 560px) {
    .l-tile_col-3-fixed .c-hot-attraction-card-item-v2__wrapper.l-tile__item {
      width: 278px;
      padding-left: 0px;
      padding-right: 0px;
    }
  }
  @media screen and (max-width: 560px) {
    .l-tile_col-3-fixed
      .c-hot-attraction-card-item-v2__wrapper.l-tile__item:nth-child(3n + 1) {
      padding-left: 0px;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item {
      padding: 0px 8px 18px;
      box-sizing: content-box;
      width: calc(33.3% - 11px);
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item:first-child {
      padding-left: 0px;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item:nth-child(3n + 1) {
      clear: none;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item:nth-child(2n + 1) {
      clear: left;
    }
  }
  @media screen and (max-width: 834px) {
    .l-tile_col-3-fixed .l-tile__item {
      width: 278px;
      box-sizing: content-box;
    }
  }
  @media screen and (max-width: 834px) {
    .l-tile_col-3-fixed .l-tile__item:first-child {
      padding-left: 8px;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item {
      padding: 0px 8px 18px;
      box-sizing: content-box;
      width: calc(33.3% - 11px);
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item:first-child {
      padding-left: 0px;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item:nth-child(3n + 1) {
      clear: none;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item:nth-child(2n + 1) {
      clear: left;
    }
  }
  @media screen and (max-width: 834px) {
    .l-tile_col-3-fixed .l-tile__item {
      width: 278px;
      box-sizing: content-box;
    }
  }
  @media screen and (max-width: 834px) {
    .l-tile_col-3-fixed .l-tile__item:first-child {
      padding-left: 8px;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item {
      padding: 0px 8px 18px;
      box-sizing: content-box;
      width: calc(33.3% - 11px);
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item:first-child {
      padding-left: 0px;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item:nth-child(3n + 1) {
      clear: none;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item:nth-child(2n + 1) {
      clear: left;
    }
  }
  @media screen and (max-width: 834px) {
    .l-tile_col-3-fixed .l-tile__item {
      width: 278px;
      box-sizing: content-box;
    }
  }
  @media screen and (max-width: 834px) {
    .l-tile_col-3-fixed .l-tile__item:first-child {
      padding-left: 8px;
    }
  }
  @media screen and (min-width: 1161px) {
    .c-hot-attraction-card-item-v2__image {
      width: 100%;
      height: 0px;
      padding-top: 197px;
    }
  }
  @media screen and (max-width: 1160px) {
    .c-hot-attraction-card-item-v2__image {
      padding-top: 70.86%;
    }
  }
  @media screen and (max-width: 834px) {
    .l-tile_col-3-fixed .c-hot-attraction-card-item-v2__wrapper.l-tile__item {
      width: 49.9%;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 834px) {
    .l-tile_col-3-fixed
      .c-hot-attraction-card-item-v2__wrapper.l-tile__item:nth-child(2n) {
      padding-right: 0px;
    }
  }
  @media screen and (max-width: 560px) {
    .l-tile_col-3-fixed .c-hot-attraction-card-item-v2__wrapper.l-tile__item {
      width: 278px;
      padding-left: 0px;
      padding-right: 0px;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item {
      padding: 0px 8px 18px;
      box-sizing: content-box;
      width: calc(33.3% - 11px);
    }
  }
  @media screen and (max-width: 834px) {
    .l-tile_col-3-fixed .l-tile__item {
      width: 278px;
      box-sizing: content-box;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item {
      padding: 0px 8px 18px;
      box-sizing: content-box;
      width: calc(33.3% - 11px);
    }
  }
  @media screen and (max-width: 834px) {
    .l-tile_col-3-fixed .l-tile__item {
      width: 278px;
      box-sizing: content-box;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item {
      padding: 0px 8px 18px;
      box-sizing: content-box;
      width: calc(33.3% - 11px);
    }
  }
  @media screen and (max-width: 834px) {
    .l-tile_col-3-fixed .l-tile__item {
      width: 278px;
      box-sizing: content-box;
    }
  }
  @media screen and (min-width: 1161px) {
    .c-hot-attraction-card-item-v2__image {
      width: 100%;
      height: 0px;
      padding-top: 197px;
    }
  }
  @media screen and (max-width: 1160px) {
    .c-hot-attraction-card-item-v2__image {
      padding-top: 70.86%;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed
      .c-hot-attraction-card-item-v2__wrapper.l-tile__item:nth-child(3n) {
      padding-right: 0px;
    }
  }
  @media screen and (max-width: 834px) {
    .l-tile_col-3-fixed .c-hot-attraction-card-item-v2__wrapper.l-tile__item {
      width: 49.9%;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 834px) {
    .l-tile_col-3-fixed
      .c-hot-attraction-card-item-v2__wrapper.l-tile__item:nth-child(3n) {
      padding-right: 8px;
    }
  }
  @media screen and (max-width: 834px) {
    .l-tile_col-3-fixed
      .c-hot-attraction-card-item-v2__wrapper.l-tile__item:nth-child(2n + 1) {
      padding-left: 0px;
    }
  }
  @media screen and (max-width: 560px) {
    .l-tile_col-3-fixed .c-hot-attraction-card-item-v2__wrapper.l-tile__item {
      width: 278px;
      padding-left: 0px;
      padding-right: 0px;
    }
  }
  @media screen and (max-width: 560px) {
    .l-tile_col-3-fixed
      .c-hot-attraction-card-item-v2__wrapper.l-tile__item:nth-child(3n) {
      padding-right: 0px;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item {
      padding: 0px 8px 18px;
      box-sizing: content-box;
      width: calc(33.3% - 11px);
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item:nth-child(2n + 1) {
      clear: left;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item:nth-child(3) {
      padding-right: 0px;
    }
  }
  @media screen and (max-width: 834px) {
    .l-tile_col-3-fixed .l-tile__item {
      width: 278px;
      box-sizing: content-box;
    }
  }
  @media screen and (max-width: 834px) {
    .l-tile_col-3-fixed .l-tile__item:nth-child(3) {
      padding-right: 8px;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item {
      padding: 0px 8px 18px;
      box-sizing: content-box;
      width: calc(33.3% - 11px);
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item:nth-child(2n + 1) {
      clear: left;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item:nth-child(3) {
      padding-right: 0px;
    }
  }
  @media screen and (max-width: 834px) {
    .l-tile_col-3-fixed .l-tile__item {
      width: 278px;
      box-sizing: content-box;
    }
  }
  @media screen and (max-width: 834px) {
    .l-tile_col-3-fixed .l-tile__item:nth-child(3) {
      padding-right: 8px;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item {
      padding: 0px 8px 18px;
      box-sizing: content-box;
      width: calc(33.3% - 11px);
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item:nth-child(2n + 1) {
      clear: left;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item:nth-child(3) {
      padding-right: 0px;
    }
  }
  @media screen and (max-width: 834px) {
    .l-tile_col-3-fixed .l-tile__item {
      width: 278px;
      box-sizing: content-box;
    }
  }
  @media screen and (max-width: 834px) {
    .l-tile_col-3-fixed .l-tile__item:nth-child(3) {
      padding-right: 8px;
    }
  }
  @media screen and (min-width: 1161px) {
    .c-hot-attraction-card-item-v2__image {
      width: 100%;
      height: 0px;
      padding-top: 197px;
    }
  }
  @media screen and (max-width: 1160px) {
    .c-hot-attraction-card-item-v2__image {
      padding-top: 70.86%;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed
      .c-hot-attraction-card-item-v2__wrapper.l-tile__item:nth-child(3n + 1) {
      padding-left: 0px;
    }
  }
  @media screen and (max-width: 834px) {
    .l-tile_col-3-fixed .c-hot-attraction-card-item-v2__wrapper.l-tile__item {
      width: 49.9%;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 834px) {
    .l-tile_col-3-fixed
      .c-hot-attraction-card-item-v2__wrapper.l-tile__item:nth-child(3n + 1) {
      padding-left: 8px;
    }
  }
  @media screen and (max-width: 834px) {
    .l-tile_col-3-fixed
      .c-hot-attraction-card-item-v2__wrapper.l-tile__item:nth-child(2n) {
      padding-right: 0px;
    }
  }
  @media screen and (max-width: 560px) {
    .l-tile_col-3-fixed .c-hot-attraction-card-item-v2__wrapper.l-tile__item {
      width: 278px;
      padding-left: 0px;
      padding-right: 0px;
    }
  }
  @media screen and (max-width: 560px) {
    .l-tile_col-3-fixed
      .c-hot-attraction-card-item-v2__wrapper.l-tile__item:nth-child(3n + 1) {
      padding-left: 0px;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item {
      padding: 0px 8px 18px;
      box-sizing: content-box;
      width: calc(33.3% - 11px);
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item:last-child {
      padding-right: 8px;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item:nth-child(n + 4) {
      display: none;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item:nth-child(3n + 1) {
      clear: none;
    }
  }
  @media screen and (max-width: 834px) {
    .l-tile_col-3-fixed .l-tile__item {
      width: 278px;
      box-sizing: content-box;
    }
  }
  @media screen and (max-width: 834px) {
    .l-tile_col-3-fixed .l-tile__item:nth-child(n + 4) {
      display: inline-block;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item {
      padding: 0px 8px 18px;
      box-sizing: content-box;
      width: calc(33.3% - 11px);
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item:last-child {
      padding-right: 8px;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item:nth-child(n + 4) {
      display: none;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item:nth-child(3n + 1) {
      clear: none;
    }
  }
  @media screen and (max-width: 834px) {
    .l-tile_col-3-fixed .l-tile__item {
      width: 278px;
      box-sizing: content-box;
    }
  }
  @media screen and (max-width: 834px) {
    .l-tile_col-3-fixed .l-tile__item:nth-child(n + 4) {
      display: inline-block;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item {
      padding: 0px 8px 18px;
      box-sizing: content-box;
      width: calc(33.3% - 11px);
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item:last-child {
      padding-right: 8px;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item:nth-child(n + 4) {
      display: none;
    }
  }
  @media screen and (max-width: 1160px) {
    .l-tile_col-3-fixed .l-tile__item:nth-child(3n + 1) {
      clear: none;
    }
  }
  @media screen and (max-width: 834px) {
    .l-tile_col-3-fixed .l-tile__item {
      width: 278px;
      box-sizing: content-box;
    }
  }
  @media screen and (max-width: 834px) {
    .l-tile_col-3-fixed .l-tile__item:nth-child(n + 4) {
      display: inline-block;
    }
  }
  @media screen and (min-width: 1161px) {
    .c-hot-attraction-card-item-v2__image {
      width: 100%;
      height: 0px;
      padding-top: 197px;
    }
  }
  @media screen and (max-width: 1160px) {
    .c-hot-attraction-card-item-v2__image {
      padding-top: 70.86%;
    }
  }
  @media all {
    .fi {
      font-size: 16px;
      font-style: normal;
      -webkit-font-smoothing: antialiased;
      font-family: fi !important;
    }
  }

  .footer-basic {
    padding:40px 0;
    background-color:#ffffff;
    color:#4b4c4d;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }
  
  